*{
    background-color:beige;
    text-align: center;
}
#mybtn{
     font-size: 2em;
     border-radius: 30px;
}
.btn{
    padding: 10px 20px;
    background-color: antiquewhite;
}
#mylabel{
    font-size: 2.4em;
}
button:hover{
    background-color: rgba(228, 105, 105, 0.868);
}